<div class="col-md-4 mb-4">
  <div class="card h-100 bg-transparent text-white blur-background-3 border">
    <div class="card-body">
      <h5 class="card-title"><%= name %></h5>

      <% if (body) { %>
      <p class="card-text"><%= body %></p>
      <% } %>
      <a href="<%= href %>" class="btn btn-success">
        Referral
        <i class="bi bi-box-arrow-up-right"></i>
      </a>
    </div>
  </div>
</div>
