<%# Intro Text %>
<div class="center p-5 mt-2 glassmorphism glow-animation" style="border-radius: 4px">
  <%- content %>
</div>
<%# Card container %>
<div class="p-3 mt-5">
  <div class="row justify-content-center d-flex flex-row">
    <%# Cards %>
    <% projects.forEach((project, i) => { %>
    <div class="col-md-3 mb-5">
      <%- include("components/project-card.ejs", project) %>
    </div>
    <% }) %>
  </div>
</div>
