<%
const sections = [
{
  object: downloads,
  button_text: "Download"
},
{
  object: referrals,
  button_text: "Referrals"
}
];
%>


<div class="container mt-5 text-center mb-4 p-2">
  <% sections.forEach(section => { %>
  <div class="container">
    <div class="glassmorphism pb-2 mb-2 pt-2">
      <h2><%- section.object.heading %></h2>
      <h4><%- section.object.description %></h4>
    </div>
    <div class="row">
      <% section.object.items.forEach(properties => { %>
      <%- include("components/resource-card", {properties, button_text: section.button_text}) %>
      <% }) %>
    </div>
  </div>
  <% }) %>
</div>