<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zytekaron - 404</title>
    <%- render.template('head') %>
    <%- render.css('404') %>
</head>
<body>
<%- render.template('navbar') %>

<section id="home">
    <div class="container my-5">
        <h1 class="mb-3">404 - Not Found</h1>
    </div>
</section>

<%- render.template('footer') %>

</body>
</html>
