<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zytekaron - About</title>
    <%- render.template('head') %>
    <%- render.css('about') %>
</head>
<body>
<%- render.template('navbar') %>

<div class="container my-5">
    <h1>About Me</h1>
    <p>
        I'm a software developer in high school. I enjoy writing backend software using Node.js,
        Java, and Go, along with a couple other languages I'm learning here and there -- Rust,
        and a bit of C++. I'm active on <a href="https://github.com/Zytekaron">GitHub</a>, and
        you can contact me via my <a href="/discord">Discord Server</a> if you'd like to say hi
        or check out what I'm working on.
        <br>
        <br>
        I'm looking into publishing JavaScript/Node.js tutorials on YouTube in the near future,
        so if you're interested, let me know! High demand is a good motivation to get it going.
    </p>
</div>

<%- render.template('footer') %>

</body>
</html>
