<style type="text/css">
    #socials {
        text-align: center;
        margin: 20px;
        word-spacing: 20px;
        border-radius: 30px;
        padding: 10px;
    }
</style>

<div id="socials">
    <a href="https://twitter.com/Zytekaron" target="Blank">
        <img src="https://raeeddoesgaming.com/Twitter.png" alt="Twitter"/>
    </a>
    <!-- <a href="#" target="Blank">
        <img src="https://raeeddoesgaming.com/Instagram.png" alt="Instagram"/>
    </a> -->
    <a href="https://zytekaron.com/youtube" target="Blank">
        <img src="https://raeeddoesgaming.com/YouTube.png" alt="YouTube"/>
    </a>
</div>
